<div class="card">
    <div *ngFor="let data of movieData">
        <div> 
            <b id="title">Show ID</b>:<b id="value">{{ data.show_id }}</b>
        </div>
        <div class="next-div">
            <b>Type</b>:<b id="value">{{ data.type }}</b>
        </div>
        <div class="next-div">
            <b id="title">Title</b>: <b id="value">{{ data.title }}</b>
        </div>
        <div class="next-div">
            <b id="title">Cast</b>:<b id="value"> {{ data.cast }}</b>
        </div>        
        <div class="next-div">
            <b id="title">ountry</b>: <b id="value">{{ data.country }}</b>
        </div>
        <div class="next-div">
            <b id="title">Date Added</b>: <b id="value">{{ data.date_added }}</b>
        </div>
        <div class="next-div">
            <b id="title">Release Year</b>: <b id="value">{{ data.release_year }}</b>
        </div>
        <div class="next-div">
            <b id="title">Rating</b>: <b id="value">{{ data.rating }}</b>
        </div>
        <div class="next-div">
            <b id="title">Duration</b>: <b id="value">{{ data.duration }}</b>
        </div>
        <div class="next-div">
            <b id="title">Listed In</b>:<b id="value"> {{ data.listed_in }}</b>
        </div>
        <div class="next-div">
            <b id="title">Description</b>:<b id="value"> {{ data.description }}</b>
        </div>
    </div>
</div>

<style>
    .card{
    height: 330px;
    margin-left: 410px;
    margin-top: 100px;
    width: 840px;
    border: 4px solid cadetblue;
    font-size: 18px;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
    }

    .next-div{
        margin-top: 4px;
    }

    #title{
        font-weight: bolder;
    }

    #value{
        font-weight: lighter;
    }
</style>