<div>
    <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Pick one" aria-label="Number" [formControl]="myControl"
                [matAutocomplete]="auto" [ngModel]="searchTerm" (ngModelChange)="onChange($event)">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="getSelectedElementId(option)">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <input id="submitbutton" type="submit" value="Submit">
        </mat-form-field>

    </form>
    <mat-card id="card" *ngFor="let data of repeatData">
        <br>
        <mat-card-header>
            <mat-card-title>{{ data.title }}</mat-card-title>
            <mat-card-subtitle> {{ data.item }} </mat-card-subtitle>
        </mat-card-header>
        <br>
        &nbsp;
    </mat-card>

</div>