.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#pickbutton{

  height: 30px;
  width: 200px;
  background: white;
  border: 2px solid cadetblue;
  font-size: large;
  cursor: pointer;
  color: cadetblue;
  border-radius: 10px;
}

#card{
  border: 2px solid cadetblue;
  background: whitesmoke;
}

#submitbutton{
  height: 30px;
  cursor: pointer;
  width: 200px;
  color: cadetblue;
  font-size: large;
  background: white;
  border: 2px solid cadetblue;
  font-weight: bold;
  border-radius: 10px;
}

.align_centre {
  width:800px;
  margin:0 auto;
}

.text_align_centre{
  text-align: center;
}